<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="accountService.accountValue">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Auth Boilerplate</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-link nav-link" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
<alert></alert>